<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Gabriel M.</title>

</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpeg" alt="Foto de Gabriel">
            <h1>Gabriel Magro</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/gabriel-magro/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/magrogabriel">
                    <i class="bi bi-github"></i>
                </a>

            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habiliades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
            </ul>

        </nav>


    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Gabriel Magro</h2>
                <span id="subtitle" class="text-white text-shadow">Portfólio</span>
            </div>

            <div class="col-md-6 d-flex justify-content-end align-items-end col-arraste">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down-square text-white fs-4"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>

            </div>
        </section>

        <section class="container mt-5" id="sobre">

            <div class="row w-100">
                <div class="col md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Um jovem e eterno aprendiz da vida numa busca constante de pertencimento. Sou biólogo formado pela UFRJ (2022) já tendo cursado Matemática por 3 anos (interrompido) também na UFRJ. Tendo terminado minha primeira graduação, decidi por trilhar novos caminhos e conhecer mais o universo da tecnologia por vários motivos, em especial um gosto e interesse pessoal pelo campo e melhores condições financeiras. Por isso, ingressei em Agosto de 2022 no curso de Análise e Desenvolvimento de Sistemas na Universidade Estácio de Sá na modalidade remota, almejando ter mais flexibilidade para estudar e me aperfeiçoar todos os dias através de cursos online e conteúdos disponíveis nas mais diversas plataformas. Apesar de recente, já tive contato e prática com diversas tecnologias e, para mostrar isso, decidi criar esse portfólio, um espaço meu para que todos possam conhecer meu trabalho. Fique à vontade! </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col md-4">
                    <img class="img-fluid shadow" src="../static/img/profile-about-2.jpeg" alt="Foto de Gabriel"
                        data-anime="left">
                </div>

                <div class="col-md-8 about-foto" data-anime="right">
                    <h3>Desenvolvedor</h3>
                    <p>Atualmente tenho estudado para conhecer de maneira mais ampla os diversos campos da profissão. Apesar disso, possuo um foco maior em me aperfeiçoar como Desenvolvedor Full Stack, estudando tecnologias como HTML, CSS, JavaScript, Node.Js, Python e SQL. Pretendo ampliar meu conhecimento para além disso, abrangendo React, Angular, entre outros. </p>

                    <div class="row mt-4 mb-4">

                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-light">19 de Agosto de 1994</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-light">28 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-light">Rio de Janeiro</span>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Estado: <span class="fw-light">Rio de Janeiro</span>
                                </li>
                                <li class="list-group-item">
                                    Hobbie: <span class="fw-light">Games</span>
                                </li>
                                <li class="list-group-item">
                                    Paixão: <span class="fw-light">Café</span>
                                </li>



                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habiliades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>De forma mais sincera possível, pretendo atualizar essa seção conforme for avançando no conhecimento e prática das habilidades já adquiridas, adicionando posteriormente novas habilidades conforme for me aperfeiçoando. Vale ressaltar que as informações foram fornecidas por parâmetro próprio. 😅</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 55%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">55%</div>
                        </div>

                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar"
                                aria-label="Example with label" style="width: 55%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">55%</div>
                        </div>

                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 50%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">50%</div>
                        </div>

                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 40%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">40%</div>
                        </div>

                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 40%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">40%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Node.Js</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 40%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">40%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 40%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">40%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto mt-5 mb-3">

                <div class="row">
                    <div class="col-md-6">

                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 90%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">90%</div>
                        </div>

                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 85%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">85%</div>
                        </div>

                        <p class="mt-3 mb-0">Responsabilidade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 90%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">90%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 90%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">90%</div>
                        </div>

                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 85%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">85%</div>
                        </div>

                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-anime="left"
                                aria-label="Example with label" style="width: 90%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">90%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Tecnólogo em Análise e Desenvolvimento de Sistemas</h4>
                            <h5>2022 - Atual</h5>
                            <p><em>Universidade Estácio de Sá</em></p>

                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Licenciatura em Ciências Biológicas</h4>
                            <h5>2017 - 2022</h5>
                            <p><em>Universidade Federal do Rio de Janeiro</em></p>

                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Técnico em Eletrotécnica</h4>
                            <h5>2010 - 2013</h5>
                            <p><em>Escola Técnica Estadual Ferreira Viana</em></p>

                        </div>
                    </div>
                    <div class="col-md-6 curriculo-pro">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Iniciação Científica</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Laboratório de Biologia de Tripanossomatídeos - Fiocruz</em></p>
                            <p>Obtenção de dados biológicos, meteorológicos e
                                ambientais para Modelagem de Nicho Ecológico a
                                fim de calcular o risco de transmissão vetorial de
                                Trypanosoma cruzi no estado do Espírito Santo.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Estágio</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>Colégio Pedro II</em></p>
                            <p>Atuação em turmas de Ciências e Biologia por
                                meio da elaboração de materiais didáticos para as
                                aulas, elaboração e correção de avaliações,
                                ministração de aula e apoio didático ao professor
                                durante as aulas síncronas.
                            </p>
                        </div>

                    </div>
                </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">

            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/tucano.jpg" class="card-img-top"
                                            alt="Imagem de um tucano">
                                        <div class="card-body">
                                            <h5 class="card-title">Tucano</h5>
                                            <p class="card-text">Imagem temporária que será substituída por projetos
                                                reais.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br/" taget="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/dogcat.jpg" class="card-img-top"
                                            alt="Imagem de um cão e um gato">
                                        <div class="card-body">
                                            <h5 class="card-title">Cão e gato</h5>
                                            <p class="card-text">Imagem temporária que será substituída por projetos
                                                reais.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br/" taget="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/tiger.jpg" class="card-img-top"
                                            alt="Imagem de um tigre">
                                        <div class="card-body">
                                            <h5 class="card-title">Tigre</h5>
                                            <p class="card-text">Imagem temporária que será substituída por projetos
                                                reais.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br/" taget="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/tucano.jpg" class="card-img-top"
                                            alt="Imagem de um tucano">
                                        <div class="card-body">
                                            <h5 class="card-title">Tucano</h5>
                                            <p class="card-text">Imagem temporária que será substituída por projetos
                                                reais.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br/" taget="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/dogcat.jpg" class="card-img-top"
                                            alt="Imagem de um cão e um gato">
                                        <div class="card-body">
                                            <h5 class="card-title">Cão e gato</h5>
                                            <p class="card-text">Imagem temporária que será substituída por projetos
                                                reais.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br/" taget="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/tiger.jpg" class="card-img-top"
                                            alt="Imagem de um tigre">
                                        <div class="card-body">
                                            <h5 class="card-title">Tigre</h5>
                                            <p class="card-text">Imagem temporária que será substituída por projetos
                                                reais.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://google.com.br/" taget="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section id="contato" class="pt-5 pb-5">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Rio de Janeiro, RJ</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>msgabriel.dev@gmail.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3091.7812342064403!2d-43.321268304951225!3d-22.848062391619788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997caff258545f%3A0xae4eee0a41c1427!2sEstr.%20Cel.%20Vieira%20-%20Iraj%C3%A1%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2021220-310!5e0!3m2!1spt-BR!2sbr!4v1665198068412!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="right">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu email" required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem"
                                        placeholder="Digite sua mensagem" rows="10" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary mt-4">Enviar</button>
                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p class="copyright">&copy; Copyright <strong> Gabriel Magro</strong></p>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>